/*buttons 300*/
/*top buttons 126*/

body,html {
	height:  100%;
	margin:  0 auto;
	padding: 0 auto;
}

a,p,h1,h2,h3,h4,h5,h6{
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

a {
	color: #fff;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

a:hover, a:active {
	color: #ff9110;
}

p {
	font-size: 14px;
	font-weight: bold;
	text-transform: capitalize;
}

h1 {
	color: #fff;
	font-size: 22px;
	font-weight: bold;
}

.revenuecontainer div h1, .deductionscontainer div h1,
.revenueheader div h1, .deductionsheader div h1 {
	color: #767171;
}

.div {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	box-sizing: border-box;
}

.span {
	border-color: red;
	border-style: solid;
	border-width: 1px;
	box-sizing: border-box;
}

.pagewrapper {
	display: flex;
	flex-direction: row;
	height: auto;
	margin:  0px;
	min-height: 100%;
	padding: 0px;
	width: 100%;
}

/*--------------------------------------------------------------*/

.sidebar {
	background-color: #767171;
	min-width: 40px;
	position: relative;
    z-index: 1;
}

.sidebar div {
	display: none;
}

.sidebar:hover div {
	/*background-color: grey;*/
	display: block;
	min-width: 160px;
}



.contentwrapper {
	/*background-color: red;*/
	display: flex;
	flex-direction: column;
	width: 100%;
}

/*--------------------------------------------------------------*/

.header {
	/*background-color: green;*/
	display:flex;
	flex-direction: row;
	height: 122px;
	justify-content: space-between;
	position: relative;
	z-index: 0;
}

.header div {
	/*background-color: blue;*/
	flex-grow: 1;
}

.header div:nth-child(4) {
	/*background-color: blue;*/
	flex-grow: 0;
	width: 275px;
}

.headershadow {
	background-image: url("../images/headershadow.png");
	background-position: bottom;
	background-repeat: repeat-x;
	height: 28px;
	width: 100%;
}

.content {
	/*background-color: yellow;*/
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	margin-bottom: 40px;
}

/*--------------------------------------------------------------*/

.transactionwrapper {
	/*background-color: purple;*/
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	margin-left: 192px;
}

.actionwrapper {
	/*background-color: pink;*/
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

/*--------------------------------------------------------------*/

.transtop {
	/*background-color: green;*/
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

.transmid {
	display: flex;
	flex-direction: row;
	flex-grow: 0;
	margin: 12px 0px;
}

.transmid div {
	height: 44px;
}

.transbottom {
	display: flex;
	height: 54px;
}

.transbottom div {
	align-items: center;
	background-color: #767171;
	border-radius: 6px;
	display: flex;
	flex-grow: 1;
	height: 52px;
	justify-content: center;
}

.transbottom div:nth-child(1) {
	margin-right: 5px;
}

.transbottom div:nth-child(2) {
	margin-left: 5px;
}

/*--------------------------------------------------------------*/

.revenue {
	/*background-color: orange;*/
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin-right: 19px;
}

.deductions {
	/*background-color: lightblue;*/
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin-left: 19px;
}

/*--------------------------------------------------------------*/

.startingcontainer, .endingcontainer {
	display: flex;
	flex-direction: row;
	margin-bottom: 12px;
}

.startingcontainer div, .endingcontainer div {
	align-items: center;
	display: flex;
	flex-grow: 1;
	height: 43px;
	justify-content: center;
	margin-left: 0px;
	margin-right: 4px;
	max-width: 168px;
	min-width: 168px;
}

.startingcontainer div:nth-child(2),
.endingcontainer div:nth-child(2) {
	margin-left: 4px;
	margin-right: 0px;
}

.startingcontainer div,
.endingcontainer div,
.sourcecontainer div,
.revenuecontainer div,
.deductionscontainer div,
.revenueheader div,
.deductionsheader div {
	align-items: center;
	display: flex;
	justify-content: center;
}

.revenueheader, .deductionsheader {
	display: flex;
	flex-direction: row;
	height: 43px;
	margin-bottom: 6px;
	width: 100%;
}

.revenueheader div, .deductionsheader div {
	flex-grow: 1;
}

.sourcecontainer {
	display: flex;
}

.sourcecontainer div {
	flex-grow: 1;
	height: 25px;
}

.revenuecontainer, .deductionscontainer {
	display: flex;
	width: 50%;
}

.revenuecontainer {
	padding-right: 19px;
}

.deductionscontainer {
	padding-left: 19px;
}

.revenuecontainer div, .deductionscontainer div {
	align-items: center;
	border-radius: 6px;
	flex-grow: 1;
	height: 38px;
	justify-content: center;
	margin-left: 0px;
	margin-right: 4px;
	max-width: 168px;
	min-width: 168px;
}

.revenuecontainer div:nth-child(2), .deductionscontainer div:nth-child(2) {
	flex-grow: 1;
	margin-left: 4px;
	margin-right: 0px;
}

.deductionscontainer div, .deductionsheader div{
	background-color: #fbe5d6;
	border-radius: 6px;
}

.revenuecontainer div, .revenueheader div {
	background-color: #c5e0b4;
	border-radius: 6px;
}

.startingcontainer div, .endingcontainer div {
	background-color: #767171;
	border-radius: 6px;
}

.endingcontainer div:nth-child(2) {
	background-color: #fff;
	border: solid 2px #767171;
	box-sizing: border-box;
}

.endingcontainer div:nth-child(2) h1 {
	color: #767171;
}

/*--------------------------------------------------------------*/

.userinfo {
	display: flex;
	flex-direction: column;
	padding-right: 10px;
}

.userinfo div {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex: 1 100%;
	width: 100%;
}

.userinfo div:first-child {
	margin-top: 14px;
}

.userinfo div:last-child {
	margin-bottom: 14px;
}

.userinfo div span {
	color: #ff9110;
	flex: 1;
	font-size: 16px;
	font-weight: bold;
	justify-content: center;
	text-transform: uppercase;
	white-space: nowrap;
}

.userinfo div span:nth-child(2) {
	color: #767171;
	text-align: right;
	text-transform: capitalize;
}

.userinfo div span:nth-child(1) {
	flex-grow: 0;

}

/*--------------------------------------------------------------*/

.pagetitle {
	align-items: center;
	display: flex;
	flex-grow: 1;
}

.pagetitle h3 {
	color: #767171;
	flex-grow: 1;
	font-size: 48px;
	font-weight: bold;
	text-align: right;
	text-transform: capitalize;
	white-space: nowrap;
}

.split {
	background-image: url("../images/split.png");
	background-position: center;
	background-repeat: no-repeat;
	flex-grow: 0;
	margin: 0px 15px 0px 15px ;
	max-width: 4px;
	min-width: 4px;
}

/*--------------------------------------------------------------*/

.logo {
	align-items: center;
	display: flex;
}

.logo img {
    height: 108px;
}

/*--------------------------------------------------------------*/

.revenuesource,
.deductionssource {
	display: flex;
	margin-top: 6px;
}

.revenuesource div,
.deductionssource div{
	align-items: center;
	border-radius: 6px;
	color: #767171;
	display: flex;
	margin-left: 0px;
	margin-right: 4px;
	max-height: 22px;
	max-width: 168px;
	min-height: 22px;
	min-width: 168px;
}

.revenuesource div p,
.deductionssource div p {
	margin-left: 8px;
}

.revenuesource div {
	background-color: #c5e0b4;
}

.deductionssource div {
	background-color: #fbe5d6;
}

.deductionssource div:nth-child(2),
.revenuesource div:nth-child(2) {
	background-color: #fff;
	box-sizing: border-box;
	justify-content: center;
	margin-left: 4px;
	margin-right: 0px;
}

.revenuesource div:nth-child(2) {
	border: 2px solid #c5e0b4;
}

.deductionssource div:nth-child(2) {
	border: 2px solid #fbe5d6;
}

/*--------------------------------------------------------------*/

.actionwrapper {
	background-color: grey;
	margin-left: 90px;
}

.navbuttons {
	background-color: pink;
	display: flex;
}

.calendar {
	/*calendar 297x233*/
	background-image: url("../images/calendar.png");
	background-repeat: no-repeat;
	max-height: 233px;
	max-width: 297px;
	min-height: 233px;
	min-width: 297px;
}

.savebutton {
	background-color: yellow;
	display: flex;
}

.submitbutton {
	background-color: green;
	display: flex;
}


/*--------------------------------------------------------------*/

/* database list items */
.active {

}

/* database list items */
.inactive {

}